# Workflow that executes the tests & display the results properly
name: Reusable Run Tests

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  checks: write
  id-token: write

jobs:
  tests:
    name: Execute tests & display results
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2

      - name: Set up JDK
        uses: actions/setup-java@387ac29b308b003ca37ba93a6cab5eb57c8f5f93 #v4.0.0
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Execute tests
        shell: bash
        run: |
          mvn -B -q verify
          mvn -B -q -DskipITs test
      
      - name: Display units tests results
        uses: mikepenz/action-junit-report@v5
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: |
            'target/surefire-reports/TEST-*.xml'
          include_passed: false
          summary: true

      - name: Display IT tests results
        uses: mikepenz/action-junit-report@v5
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: |
            'target/failsafe-reports/TEST-*.xml'
          include_passed: false
          summary: true